* {
  box-sizing: border-box;
  
}
body{
  margin: 0%;
  padding: 0%;
  background-color: rgb(226, 220, 220);
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: larger;
  font-weight: bolder;

}

/* header style*/ 

header{
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background: rgba(0, 0, 0, 0.2) ;
}

.header{
  max-width: 1200px;
  margin: auto;
}

header img{
  width: 160px;
  float: left; 
  margin-top: 5px;
}

header nav ul {
  list-style: none;
  float:right;
  display: flex;
  margin: 0;
  padding: 0;
}

header nav ul li a{
  color:#681864;
  padding: 12px 30px;
  text-decoration: none; 
  line-height: 120px;
  font-size: 24px;  
  font-weight: bolder;
}
header nav ul li a:hover{
  background: rgba(0, 0, 0, 0.1) ;
  border-radius: 6px;

}
header nav ul li a.active{
  background: rgba(209, 180, 17, 0.918) ;
  color:#681864;
  border-radius: 6px;
}
.inputForm{
  border: 3px solid #681864;
  border-radius: 10px;
  font-size: 20px;
  width: 300px;
 

  text-align: justify;
  padding: auto;
 box-sizing: 4px;


}
fieldset{
  /* text-align: center; */
  /* border:3px  solid #681864; */
  /* border-radius: 10px; */
  width: 60%;
  margin-left: 14%;
  margin-top: 4%;
    /* background: rgba(0, 0, 0, 0.2) ; */

  

}


#serviceForm{
  margin-top: 20px;
  margin-left: 30%;
  
  
}


.input{
 width: 130px;
  font-size: 25px;
  padding: 10px;
  border-radius: 5px;
  color: #31082F;
  margin-bottom: 20px;
  text-align: center;
  margin-left:26.5% ;

 
  }

  .input:hover{
  background: rgba(209, 180, 17, 0.918);
  }



#divBox{
  border:3px solid  rgba(209, 180, 17, 0.918);
  border-radius: 20%;
font-size: large;
color: #31082F;
background-color: #b996b62d; 
border-radius: 20%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 5px;
  margin-bottom: 3px;
  justify-content: center;
}



/* footer style*/

/* .animation { 
  width: 94%;
  position: absolute;
  top: 104%;
  left:3%;
animation-name: example;
 animation-duration: 8s;
  animation-delay: -4s; 
  margin-top: 55px;
}  */
footer{
  background-image: url(../img/ballons.png);
  margin: 10px;
  height: 250px;
  width: 100%;
  position: relative;
  /* top: 70%; */
}


footer h2{
  line-height: 80px;
  text-align: center;
  font-size: 50px;
  color:#31082F;
  font-weight: bolder;
}
.tel{
  width: 20px;
  height: 20px;
  border-radius: 5px;
}
.icon{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  background: white;
  padding: 6px;

}
.facebook:hover{ 
  background: #3B5999;
}
.twitter:hover{
  background: #46C1F6;
}
.instagram:hover{
  background: #e1306c;
}
footer ul li {
  display: inline-block;
  padding: 10px;
}
.follow{
   text-align: center;
   margin-top: 15px;
   font-weight: bolder;

}

.contact{
  line-height: 40px;
  text-align: center;
  font-weight: bolder;
}



footer p{
  color:#31082F;
  font-size: 20px; 
  font-weight: bolder;
}


.location{
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  background: white;
  top: 262px;
  right: 853px;
}
.location:hover{
  background:rgba(209, 180, 17, 0.918);
}
.map {
  text-align: center;
  font-size: 20px;
}
.adress-link{
  text-decoration: none;
  color:#31082F;
  font-size: 20px;
  font-weight: bolder;
}
.adress-link:hover{
  color:rgba(209, 180, 17, 0.918);
  font-weight: bolder;
}
.contact a{
  text-decoration: none;
  color:#31082F;
  font-size: 20px;
  font-weight: bolder;
  font-size: 25px;
}

.contact a:hover{
  color:rgba(209, 180, 17, 0.918);
  font-weight: bolder;

}
 #theResults{

width:  95%;
margin-top: 4%;
 margin-bottom: 10%;
 text-align: center;
 margin-left: 2%;
 word-spacing: 3px;
 line-height: 30px;
 /* justify-content:center; */
 /* font-weight: bold; */

 }

 .divBox{
  margin-top: 10%;
  margin-bottom: 10%;
  padding-bottom: 10%;
  
  

 }