* {
  box-sizing: border-box;
  
}
body{
  margin: 0%;
  padding: 0%;
  background-color: rgb(226, 220, 220);
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

/* header style*/ 

header{
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background: rgba(0, 0, 0, 0.2) ;
}

.header{
  max-width: 1200px;
  margin: auto;
}

header img{
  width: 160px;
  float: left; 
  margin-top: 5px;
}

header nav ul {
  list-style: none;
  float:right;
  display: flex;
  margin: 0;
  padding: 0;
}

header nav ul li a{
  color:#681864;
  padding: 12px 30px;
  text-decoration: none; 
  line-height: 120px;
  font-size: 24px;  
  font-weight: bolder;
}
header nav ul li a:hover{
  background: rgba(0, 0, 0, 0.1) ;
  border-radius: 6px;

}
header nav ul li a.active{
  background: rgba(209, 180, 17, 0.918) ;
  color:#681864;
  border-radius: 6px;
}
.inputForm{
  border: 3px solid #681864;
  border-radius: 10px;
  font-size: 20px;
  width: 300px;
 

  text-align: justify;
  padding: auto;
 box-sizing: 4px;


}
fieldset{
  text-align: center;
  border:3px  solid #681864;
  border-radius: 10px;
  width: 50%;
  background: rgba(0, 0, 0, 0.2) ;

  

}


#serviceForm{
  margin-top: 20px;
  margin-left: 30%;
}


.input{
 
  
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
 
  color: #31082F;
  margin-bottom: 20px;
 
  
  
  }
  .input:hover{
  background: rgba(209, 180, 17, 0.918);
  }
  .inputForm:hover{
    
    border-color:  rgba(209, 180, 17, 0.918) olid;
  }

  /*css for form*/
/*
  
  input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 6px solid black;
    border-radius: 10px;
    font-size: 30px;
    background-color: white;
     background-image: url('searchicon.png'); 
    background-position: 10px 10px; 
     background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width .4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 20%;
    color: #dfbb00;
    font-size: 30px;


  }
  
  input[type=number]:focus {
    width:10%;
    color: #dfbb00;
    background-color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 45%;
    border: 6px solid #dfbb00;
    font-size: large;
  }
  
input[type=submit] {
    width: 12%;
    background-color: white;
    color: #dfbb00;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 45%;
    border: 6px solid #dfbb00;
    font-size: large;
  }



  input{
    margin-left: 45%;
    width: 20%;
    height: 50%

  }

 label{
      margin-left: 45%;
      color: #dfbb00;
      font-family: 'Kaushan Script', cursive;
      font-size: 180%;

}
  
fieldset{
    margin-top: 7%;

}

#theResults{
font-size: xx-large;
font-family: 'RocknRoll One', sans-serif;
color:darkmagenta;
margin-left: 15%;
margin-top: 100px;
margin-right: 15%;
border-radius: 10px;
border: 7px solid #dfbb00;
padding-left: 120px;
padding-top: 20px;
padding-bottom: 20px;
} */

#divBox{
  border:7px solid #dfbb00;
}



/* footer style*/

footer{
  margin: 10px;
  height: 250px;
  width: 100%;
  position: absolute;
  top: 1000px;
  margin-top: 0px;

}
footer h2{
  line-height: 80px;
  text-align: center;
  font-size: 50px;
  color:#31082F;
  font-weight: bolder;
}
.tel{
  width: 20px;
  height: 20px;
  border-radius: 5px;
}
.icon{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  background: white;
  padding: 6px;

}
.facebook:hover{ 
  background: #3B5999;
}
.twitter:hover{
  background: #46C1F6;
}
.instagram:hover{
  background: #e1306c;
}
footer ul li {
  display: inline-block;
  padding: 10px;
}
.follow{
   text-align: center;
   margin-top: 15px;
   font-weight: bolder;

}

.contact{
  line-height: 40px;
  text-align: center;
  font-weight: bolder;
}
footer p{
  color:#31082F;
  font-size: 20px; 
  font-weight: bolder;
}


.location{
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  background: white;
  top: 262px;
  right: 853px;
}
.location:hover{
  background:rgba(209, 180, 17, 0.918);
}
.map {
  text-align: center;
  font-size: 20px;
}
.adress-link{
  text-decoration: none;
  color:#31082F;
  font-size: 20px;
  font-weight: bolder;
}
.adress-link:hover{
  color:rgba(209, 180, 17, 0.918);
  font-weight: bolder;
}
.contact a{
  text-decoration: none;
  color:#31082F;
  font-size: 20px;
  font-weight: bolder;
  font-size: 25px;
}

.contact a:hover{
  color:rgba(209, 180, 17, 0.918);
  font-weight: bolder;

}


