* {
  box-sizing: border-box;
  
}
body{
  margin: 0%;
  padding: 0%;
  background-color: rgb(226, 220, 220);
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

 /* header style*/ 

header{
  /* position: sticky; */
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background: rgba(0, 0, 0, 0.2) ;
}

.header{
  max-width: 1200px;
  margin: auto;
}

 #logo{
  width: 160px;
  float: left; 
  margin-top: 5px;
}

header nav ul {
  list-style: none;
  float:right;
  display: flex;
  margin: 0;
  padding: 0;
}

header nav ul li a{
  color:#681864;
  padding: 12px 30px;
  text-decoration: none; 
  line-height: 120px;
  font-size: 24px;  
  font-weight: bolder;
}
header nav ul li a:hover{
  background: rgba(0, 0, 0, 0.1) ;
  border-radius: 6px;

}
header nav ul li a.active{
  background: rgba(209, 180, 17, 0.918) ;
  color:#681864;
  border-radius: 6px;
}

        
.container {
  max-width: 1200px;
  max-height: 1200px;
  margin: auto;



}

.image {
  margin: 5;
 
  float: right;
  width: 390px;

}

.image img {
  position: relative;
  width: 300px;
  height: 300px;
 
 border: solid;
  flex-direction: column;
  border-radius: 20px;  



}
a{
  text-decoration: none;

}

.add-cart {
position: relative;
width: 100%;
background-color: rgb(168, 168, 223);
transition: all 0.3s ease-in-out; 
opacity: 0;
cursor: pointer;
text-align: center;
color: darkred;
font-size: larger;




}

 



.image:hover .cart1, .image:hover .cart2,.image:hover .cart3,.image:hover .cart4,.image:hover .cart5,
.image:hover .cart6,.image:hover .cart7,.image:hover .cart8,.image:hover .cart9,.image:hover .cart10, 
.image:hover .cart11, .image:hover .cart12, .image:hover .cart13, .image:hover .cart14, .image:hover .cart15,
.image:hover .cart16, .image:hover .cart17, .image:hover .cart18, .image:hover .cart19, .image:hover .cart20,
.image:hover .cart21, .image:hover .cart22, .image:hover .cart23, .image:hover .cart24, .image:hover .cart25,
.image:hover .cart26, .image:hover .cart27, .image:hover .cart28, .image:hover .cart29, .image:hover .cart30,
.image:hover .cart31, .image:hover .cart32, .image:hover .cart33, .image:hover .cart34, .image:hover .cart35,
.image:hover .cart36, .image:hover .cart37, .image:hover .cart38, .image:hover .cart39, .image:hover .cart40,
.image:hover .cart41, .image:hover .cart42, .image:hover .cart43, .image:hover .cart44, .image:hover .cart45,
.image:hover .cart46, .image:hover .cart47, .image:hover .cart48, .image:hover .cart49, .image:hover .cart50,
.image:hover .cart51, .image:hover .cart52, .image:hover .cart53, .image:hover .cart54 {

bottom:40px;
opacity: 1;
padding-right: 10%;
text-decoration: none;

height:20px;


}
   
nav ul ul{
  position:absolute;
 
  display: none;

}  
nav ul li:hover ul{
  display: block;
  height: 20px;
}                 
   
nav ul ul li{
  width: 150px;
  float: none;
  height: 60px;
  display: list-item;
  background-color: rgb(50, 91, 97);
  padding: 10px;
  font-size: 16px;
  color: blanchedalmond;

}
.title{
  font-size:30px;
  text-align: center;
  font-family: 'Original Surfer', cursive;
  margin-top: 25px;
}



/* h3{
font-family: cursive;
font-size: larger;
margin-left: 20px;
margin-bottom: 20px;
font-weight: bolder;
} */


.label{
 
  color: blue;
}