*{
    box-sizing:border-box;
    outline:none;
  }

  
img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border-color: rgb(241, 239, 240);
  

     
}


  
  span{
    font-size: 30px;
  }

 a{
       text-decoration: none;
  }

.add-cart {
    position: absolute;
    background-color: rgb(245, 245, 250);
    width: 100%;
    transition: all 0.3s ease-in-out; 
    opacity: 0;
    cursor: pointer;
    text-align: center;
    color: darkred;
    font-size: larger;

}

#container  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;

}

.images{
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;

}
 h3{
     font-family: cursive;
     font-size: larger;
     margin-left: 20px;
     margin-bottom: 20px;
     font-weight: bolder;
 }
 .images:hover .cart1, .images:hover .cart2,.images:hover .cart3,.images:hover .cart4,.images:hover .cart5,
 .images:hover .cart6,.images:hover .cart7,.images:hover .cart8,.images:hover .cart9,.images:hover .cart10{

    bottom: 50px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
 }
 


/* * ---------------------------------------cart page -----------------------------------------------------------*/ 

 .product-container { 

max-width: 650px;
justify-content: space-around;
margin: 0 auto ;
margin-top: 50px;
flex-wrap: wrap;

} 
.icon {

  font-size: 25px;
  color: blue;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;

}
.product-header {
width: 100%;
max-width: 650px;
display: flex;
justify-content:flex-start ;
border-bottom: 4px solid cadetblue;
margin: 0 auto ;

}

.product-title {
width: 60%;

}
.price{
  width: 15%;
  align-items: center;
  display: flex;
  border-bottom: 4px solid cadetblue;
}
.total{
  width: 10%;
  align-items: center;
  display: flex;
  border-bottom: 4px solid cadetblue;
}

.quantity{

  width: 35%;
  align-items: center;
  display: flex;
  padding: 10px 0;
  justify-content: space-around;
  border-bottom: 4px solid cadetblue;
}

