* {
    box-sizing: border-box;
    
}
body{
    margin: 0%;
    padding: 0%;
    background-color: rgb(226, 220, 220);
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

/* header style*/ 

header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: rgba(0, 0, 0, 0.2) ;
}

.header{
    max-width: 1200px;
    margin: auto;
}

header img{
    width: 160px;
    float: left; 
    margin-top: 5px;
}

header nav ul {
    list-style: none;
    float:right;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li a{
    color:#681864;
    padding: 12px 30px;
    text-decoration: none; 
    line-height: 120px;
    font-size: 24px;  
    font-weight: bolder;
}
header nav ul li a:hover{
    background: rgba(0, 0, 0, 0.1) ;
    border-radius: 6px;

}
header nav ul li a.active{
    background: rgba(209, 180, 17, 0.918) ;
    color:#681864;
    border-radius: 6px;
}

/* animation part*/
 
.animation { 
    width: 94%;
    position: absolute;
    top: 100%;
    left:3%;
  animation-name: example;
   animation-duration: 8s;
    animation-delay: -4s; 
    margin-top: 150px;
 } 
 
 @keyframes example {
   0%   { left:0px; top:0px;}
   25%  { left:0px; top:0px;}
   50%  { left:0px; top:300px;}
   75%  { left:0px; top:300px;}
   100% { left:0px; top:0px;}
}
    
/* slides */ 

.sliderShow{
     width: 1000px;
    height: 550px; 
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
     margin-top: 4%;  
      border: 1px solid #33073169;  
      border-radius: 80px;  
}
.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.bar{
    width: 50px;
    height: 20px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
}

.bar:hover{
    background: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 400%;
    height: 100%;
    display: flex;
}
.slide{
width: 25%;
transition: 1s;
}
.slide img{
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1{
    margin-left: 0%;
}
#r2:checked ~ .s1{
    margin-left: -25%;
}
#r3:checked ~ .s1{
    margin-left: -50%;
}
#r4:checked ~ .s1{
    margin-left: -75%;
}

.navigation-auto{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
 .auto{
    width: 50px;
    height: 20px;
    border: 2px solid #fff;
    margin: 6px;
    transition: 1s;

}

#r1:checked ~ .navigation-auto .auto1{
    background: #fff;
}
#r2:checked ~ .navigation-auto .auto2{
    background: #fff;
}
#r3:checked ~ .navigation-auto .auto3{
    background: #fff;
}
#r4:checked ~ .navigation-auto .auto4{
    background: #fff;
}


.paragraph{
    width: 850px;
    height: 500px;
    position: absolute;
    left: 22%;
    top: 93%;
    line-height: 35px;
    text-align: justify;
    font-size: 20px;
    font-weight: bolder;
    color:#31082F ;
}
.paragraph h3{
    font-size: 30px;
    text-align: center;
    margin-top: 55px;
    margin-bottom: 15px;
    font-weight: bolder;
}

button{
position: absolute;
left: 65%;
top: 52%;
font-size: 20px;
padding: 10px;
border-radius: 5px;
background-color: rgba(0, 0, 0, 0.2) ; ;
color: #31082F;


}
button:hover{
background: rgba(209, 180, 17, 0.918);

}



/* footer style*/

footer{
    margin: 10px;
    height: 250px;
    width: 100%;
    position: absolute;
    top: 1000px;
    margin-top: 0px;

}
footer h2{
    line-height: 80px;
    text-align: center;
    font-size: 50px;
    color:#31082F;
    font-weight: bolder;
}
.tel{
    width: 20px;
    height: 20px;
    border-radius: 5px;
}
.icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    background: white;
    padding: 6px;

}
.facebook:hover{ 
    background: #3B5999;
}
.twitter:hover{
    background: #46C1F6;
}
.instagram:hover{
    background: #e1306c;
}
footer ul li {
    display: inline-block;
    padding: 10px;
}
.follow{
     text-align: center;
     margin-top: 15px;
     font-weight: bolder;

}

.contact{
    line-height: 40px;
    text-align: center;
    font-weight: bolder;
}
footer p{
    color:#31082F;
    font-size: 20px; 
    font-weight: bolder;
}


.location{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    background: white;
    top: 262px;
    right: 853px;
}
.location:hover{
    background:rgba(209, 180, 17, 0.918);
}
.map {
    text-align: center;
    font-size: 20px;
}
.adress-link{
    text-decoration: none;
    color:#31082F;
    font-size: 20px;
    font-weight: bolder;
}
.adress-link:hover{
    color:rgba(209, 180, 17, 0.918);
    font-weight: bolder;
}
.contact a{
    text-decoration: none;
    color:#31082F;
    font-size: 20px;
    font-weight: bolder;
    font-size: 25px;
}

.contact a:hover{
    color:rgba(209, 180, 17, 0.918);
    font-weight: bolder;

}