   *{
       box-sizing: border-box; 

  } 
  
 img {
  border-radius: 20%;

  display:inline-block;


} 
h1{
  font-family: 'Kaushan Script', cursive;
  color: #dfbb00;
  width: 310px;
}

#row1{
  display:inline-block;
margin-right: 15%;
padding-top: 52px;
margin-left: 630px;

} 
#row1 img{
  border: solid 7px #dfbb00;

}
#row2 img{
  border: solid 7px #dfbb00;

}

#row2{
  display:inline-block;

  

} 

h1.haver:hover, h1.haver:active {font-size: 350%;}


body{
  margin: 0%;
  padding: 0%;
  background-color: rgba(252, 227, 138, 0.534);
  width: 100%;
  height: 100%;
}
header{
  background-color: #31082F;
  margin: 10px;
  height: 120px;
  width: 98%;
  border-radius: 200px; 
}
 header img{
  width: 120px;
  height: 100px;
  float: left;
  margin-left: 40px;
  margin-top: 15px;
  
} 
header h1{
  padding: 10px;
}
header nav {
  float:right;
  padding-right: 50px;
}
header nav ul li{
  display: inline-block;
  padding:10px;
  border: 1px solid white;
  border-radius: 25px;
  margin-top:30px;
  margin-right: 20px;


}
header nav ul li a{
  text-decoration: none; 
  background: -webkit-linear-gradient(rgb(252, 227, 138), rgb(243, 129, 129));
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 font-size: 20px;  
}
  
  
footer{
  margin: 10px;
  height:80px;
  width: 98%;
  position: absolute;
  /* top: 90%; */
  /* margin-top: 0px; */
  background-color: #31082F;
  border-radius: 100px;
}
footer h2{
  line-height: 80px;
  vertical-align: middle;
  margin-left: 40px;
  font-size: 25px;
  background: -webkit-linear-gradient(rgb(252, 227, 138), rgb(243, 129, 129));
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 margin-top: 1px;

}
.tel{
  width: 20px;
  height: 20px;
  border-radius: 5px;
}
.icon{
  width: 30px;
  height: 30px;
  border-radius: 10px;
}
.mail{  
   width: 20px;
  height: 20px;
  border-radius: 5px;
}

footer ul li {
  display: inline-block;
  padding: 10px;
}
.follow{
  
   position: absolute;
   top: 20%;
   left: 85%;
   margin-top: 1px;

}
.contact{
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  position: relative;
  bottom: 80px;

}
footer p{
  background: -webkit-linear-gradient(rgb(252, 227, 138), rgb(243, 129, 129));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px; 
}